{% extends "base.html" %}

{% block title %}<title>Giftme - {{ object.username }}</title>{% endblock %}

{% block content%}
  <div class="container my-4">
    <div class="row">
      <div class="col-lg-12 text-center">
        <i class="fas fa-user-circle text-muted fa-10x"></i>
        <h1 class="mt-5">User: {{ object.username }}</h1>

        <!-- Wishlist list -->
        <h1 class="mt-5">Wishlists:</h1>
        <ul class="list-unstyled">
            {% for item in object.wishlist_set.all %}
                <li><p><i class="fas fa-gifts text-primary mx-2"></i><a href="{% url 'wishlist:wishlist-detail' item.id %}">
                  {% if not item.is_due %}
                    {{ item.name }}
                  {% else %}
                    <strike>{{ item.name }}</strike>
                  {% endif %}
                </a></p></li>
            {% endfor %}
        </ul>
        <!-- Wishlist list end-->
        
      </div>
    </div>
  </div>

{%endblock%}